<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.fitwithme.infrastructure.mapper.LessonMapper">

    <select id="getLessonList" parameterType="string" resultType="com.example.fitwithme.domain.model.Lesson">
        SELECT
            L.LESSON_ID
            ,(SELECT CONCAT(C.CENTER_NAME, ' ', C.CENTER_LOCATION, '점') FROM CENTER C WHERE C.CENTER_ID = L.CENTER_ID) AS CENTER
            ,L.LESSON_NAME
            ,(SELECT I.INSTRUCTOR_NAME FROM INSTRUCTOR I WHERE I.INSTRUCTOR_ID = L.INSTRUCTOR_ID) AS INSTRUCTOR_NAME
            ,(SELECT COUNT(*) FROM RESERVE R WHERE R.LESSON_ID = L.LESSON_ID AND R.RESERVE_DATE = #{selectDate} AND R.CANCEL_AT = 0) AS CURRENT_PERSONNEL
            ,L.PERSONNEL
            ,L.LESSON_DAY
            ,L.START_TIME
            ,L.END_TIME
        FROM
            LESSON L
        WHERE
            L.LESSON_DAY LIKE CONCAT('%', #{day}, '%')
    </select>

    <select id="getLessonData" parameterType="com.example.fitwithme.presentation.dto.request.LessonRequest$detail" resultType="com.example.fitwithme.domain.model.Lesson">
        SELECT
             L.LESSON_ID
             ,(SELECT CONCAT(C.CENTER_NAME, ' ', C.CENTER_LOCATION, '점') FROM CENTER C WHERE C.CENTER_ID = L.CENTER_ID) AS CENTER
             ,L.LESSON_NAME
             ,(SELECT I.INSTRUCTOR_NAME FROM INSTRUCTOR I WHERE I.INSTRUCTOR_ID = L.INSTRUCTOR_ID) AS INSTRUCTOR_NAME
             ,(SELECT COUNT(*) FROM RESERVE R WHERE R.LESSON_ID = L.LESSON_ID AND R.RESERVE_DATE = #{selectDate} AND R.CANCEL_AT = 0) AS CURRENT_PERSONNEL
             ,L.PERSONNEL
             ,L.LESSON_DAY
             ,L.START_TIME
             ,L.END_TIME
        FROM
            LESSON L
        WHERE
            L.LESSON_ID = #{lessonId}
    </select>

    <insert id="create" parameterType="com.example.fitwithme.presentation.dto.request.LessonRequest$reserve" useGeneratedKeys="true" keyProperty="reserveSn">
        INSERT INTO RESERVE
            (
              LESSON_ID
            , USER_ID
            , RESERVE_DATE
            , CANCEL_AT
            )
        VALUES
            (
              #{lessonId}
            , #{userId}
            , #{selectDate}
            ,0
            )
    </insert>

    <update id="cancel" parameterType="int">
        UPDATE RESERVE
        SET
            CANCEL_AT=1
        WHERE
            RESERVE_ID=#{reserveId}
    </update>

    <select id="getReserveList" parameterType="com.example.fitwithme.presentation.dto.request.LessonRequest$reserveList" resultType="com.example.fitwithme.domain.model.Reserve">
        SELECT
            R.RESERVE_ID,
            R.USER_ID,
            R.RESERVE_DATE,
            L.LESSON_ID,
            L.LESSON_NAME,
            I.INSTRUCTOR_NAME AS INSTRUCTOR_NAME,
            (SELECT COUNT(*) FROM RESERVE R2 WHERE R2.LESSON_ID = L.LESSON_ID AND R2.RESERVE_DATE = #{today} AND R2.CANCEL_AT = 0) AS CURRENT_PERSONNEL,
            l.PERSONNEL,
            l.LESSON_DAY,
            l.START_TIME,
            l.END_TIME
        FROM
            RESERVE R
                LEFT JOIN LESSON L ON R.LESSON_ID = L.LESSON_ID
                LEFT JOIN CENTER C ON L.CENTER_ID = C.CENTER_ID
                LEFT JOIN INSTRUCTOR I ON L.INSTRUCTOR_ID = I.INSTRUCTOR_ID
        WHERE
            R.USER_ID = #{userId}
          AND R.RESERVE_DATE = #{today}
          AND R.CANCEL_AT = 0
    </select>
</mapper>
