<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.fitwithme.infrastructure.mapper.LessonMapper">

    <select id="getLessonList" parameterType="string" resultType="com.example.fitwithme.domain.model.Lesson">
        SELECT
            L.LESSON_SN
            ,(SELECT CONCAT(C.CENTER_NAME, ' ', C.CENTER_LOCATION, '점') FROM CENTER C WHERE C.CENTER_SN = L.CENTER_SN) AS CENTER
            ,L.LESSON_NAME
            ,(SELECT I.INSTRUCTOR_NAME FROM INSTRUCTOR I WHERE I.INSTRUCTOR_SN = L.INSTRUCTOR_SN) AS INSTRUCTOR_NAME
            ,(SELECT COUNT(*) FROM RESERVE R WHERE R.LESSON_SN = l.lesson_sn AND r.RESERVE_DATE = #{selectDate} AND r.CANCEL_AT = 0) AS curr_personnel
            ,L.PERSONNEL
            ,L.LESSON_DAY
            ,L.START_TIME
            ,L.END_TIME
        FROM
            LESSON L
        WHERE
            L.LESSON_DAY LIKE CONCAT('%', #{day}, '%')
    </select>

    <select id="getLessonData" parameterType="com.example.fitwithme.presentation.dto.request.LessonRequest$detail" resultType="com.example.fitwithme.domain.model.Lesson">
        SELECT
             L.LESSON_SN
             ,(SELECT CONCAT(C.CENTER_NAME, ' ', C.CENTER_LOCATION, '점') FROM CENTER C WHERE C.CENTER_SN = L.CENTER_SN) AS CENTER
             ,L.LESSON_NAME
             ,(SELECT I.INSTRUCTOR_NAME FROM INSTRUCTOR I WHERE I.INSTRUCTOR_SN = L.INSTRUCTOR_SN) AS INSTRUCTOR_NAME
             ,(SELECT COUNT(*) FROM RESERVE R WHERE R.LESSON_SN = l.lesson_sn AND r.RESERVE_DATE = #{selectDate} AND r.CANCEL_AT = 0) AS curr_personnel
             ,L.PERSONNEL
             ,L.LESSON_DAY
             ,L.START_TIME
             ,L.END_TIME
        FROM
            LESSON L
        WHERE
            L.LESSON_SN = #{lessonSn}
    </select>

    <insert id="create" parameterType="com.example.fitwithme.presentation.dto.request.LessonRequest$reserve" useGeneratedKeys="true" keyProperty="reserveSn">
        INSERT INTO RESERVE
            (
              LESSON_SN
            , USER_ID
            , RESERVE_DATE
            , CANCEL_AT
            )
        VALUES
            (
              #{lessonSn}
            , #{userId}
            , #{selectDate}
            ,0
            )
    </insert>

    <update id="cancel" parameterType="int">
        UPDATE reserve
        SET
            cancel_at=1
        WHERE
            reserve_sn=#{reserveSn}
    </update>

    <select id="getReserveList" parameterType="com.example.fitwithme.presentation.dto.request.LessonRequest$reserveList" resultType="com.example.fitwithme.domain.model.Reserve">
        SELECT
            r.RESERVE_SN,
            r.USER_ID,
            r.RESERVE_DATE,
            l.LESSON_SN,
            l.LESSON_NAME,
            i.INSTRUCTOR_NAME AS instructor_name,
            (SELECT COUNT(*) FROM RESERVE r2 WHERE r2.LESSON_SN = l.LESSON_SN AND r2.RESERVE_DATE = #{today} AND r2.CANCEL_AT = 0) AS curr_personnel,
            l.PERSONNEL,
            l.LESSON_DAY,
            l.START_TIME,
            l.END_TIME
        FROM
            RESERVE r
                LEFT JOIN LESSON l ON r.LESSON_SN = l.LESSON_SN
                LEFT JOIN CENTER c ON l.CENTER_SN = c.CENTER_SN
                LEFT JOIN INSTRUCTOR i ON l.INSTRUCTOR_SN = i.INSTRUCTOR_SN
        WHERE
            r.USER_ID = #{userId}
          AND r.RESERVE_DATE = #{today}
          AND r.CANCEL_AT = 0
    </select>
</mapper>
